<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="header-fragment">
  <meta charset="utf-8">
  <title>SpringBoot shop</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h1>회원가입</h1>
<form>
  EMAIL : <input type="text" id="email"><br>
  PW : <input type="password" id="password"><br>
  NickName : <input type="text" id="nickname"><br>

  <button type="button" id="btn-join">회원가입</button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--index.js 추가-->
<script type="text/javascript" th:src="@{/js/app/index.js}"></script>
</body>
</html>